<div class="blog-post">
<h2 class="blog-post-title">Article Title</h2>
<figure>
    <%=image_tag("kitten.jpeg")%>
    <figcaption>Figure 1. Kitten</figcaption>
</figure>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Progredientibus autem aetatibus sensim tardeve potius quasi nosmet ipsos cognoscimus. Qui non moveatur et offensione turpitudinis et comprobatione honestatis? An est aliquid, quod te sua sponte delectet? Rhetorice igitur, inquam, nos mavis quam dialectice disputare? Quantum Aristoxeni ingenium consumptum videmus in musicis? Duo Reges: constructio interrete.</p>
<p>Qui bonum omne in virtute ponit, is potest dicere perfici beatam vitam perfectione virtutis; Varietates autem iniurasque fortunae facile veteres philosophorum praeceptis instituta vita superabat. Quis non odit sordidos, vanos, leves, futtiles? Septem autem illi non suo, sed populorum suffragio omnium nominati sunt. Quae in controversiam veniunt, de iis, si placet, disseramus. Ac tamen hic mallet non dolere. Eam stabilem appellas. Tecum optime, deinde etiam cum mediocri amico. Nulla erit controversia.</p>
<p>Habent enim et bene longam et satis litigiosam disputationem. Commoda autem et incommoda in eo genere sunt, quae praeposita et reiecta diximus; Quae autem natura suae primae institutionis oblita est? Odium autem et invidiam facile vitabis. Nemo igitur esse beatus potest. Quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret? Esse enim quam vellet iniquus iustus poterat inpune. Que Manilium, ab iisque M.</p>
<p>Aliter homines, aliter philosophos loqui putas oportere? Traditur, inquit, ab Epicuro ratio neglegendi doloris. Quodsi ipsam honestatem undique pertectam atque absolutam. Qui non moveatur et offensione turpitudinis et comprobatione honestatis? Egone quaeris, inquit, quid sentiam?</p>
<p>Ita ne hoc quidem modo paria peccata sunt. Ille incendat? Consequentia exquirere, quoad sit id, quod volumus, effectum. Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Ad eas enim res ab Epicuro praecepta dantur. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur sequi; Quorum altera prosunt, nocent altera.</p>
<br><br>
<p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
<hr>
</div>
<div class="blog-comment">
          <h2 class="blog-comment-title">Comment</h2>
            <div class="row">
              <div class="col-md-2"><%=image_tag("user.png")%></div>
              <div class="col-md-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Progredientibus autem aetatibus sensim tardeve potius quasi nosmet ipsos cognoscimus. Qui non moveatur et offensione turpitudinis et comprobatione honestatis? An est aliquid.
                <div class="icon">
                  <a href="#"><span class="glyphicon glyphicon-share-alt" aria-hidden="true" title="Reply"></span></a>
                  <a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" title="Like"></span></a>
                  <a href="#"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" title="Unlike"></span></a>             
                </div>
              </div>
            </div>
            <div class="reply">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-2"><%=image_tag("user.png")%></div>
              <div class="col-md-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Progredientibus autem aetatibus sensim tardeve potius quasi nosmet ipsos cognoscimus. Qui non moveatur et offensione turpitudinis et comprobatione honestatis? An est aliquid.
                <div class="icon">
                  <a href="#"><span class="glyphicon glyphicon-share-alt" aria-hidden="true" title="Reply"></span></a>
                  <a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" title="Like"></span></a>
                  <a href="#"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" title="Unlike"></span></a>
                </div>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-2"><%=image_tag("user.png")%></div>
              <div class="col-md-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Progredientibus autem aetatibus sensim tardeve potius quasi nosmet ipsos cognoscimus. Qui non moveatur et offensione turpitudinis et comprobatione honestatis? An est aliquid.
              <div class="icon">
                  <a href="#"><span class="glyphicon glyphicon-share-alt" aria-hidden="true" title="Reply"></span></a>
                  <a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" title="Like"></span></a>
                  <a href="#"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" title="Unlike"></span></a>             
                </div>
              </div>
            </div>
            <br>
            <h2 class="blog-comment-title">Leave your Comment..</h2>
            <form class="form-horizontal">

            <div class="form-group"> 
              <label class="control-label col-md-2" for="name">Name</label>
              <div class="col-md-7">
                <input class="form-control" id="name" name="name" type="text"/>
              </div>
            </div>
  
            <div class="form-group"> 
              <label class="control-label col-md-2" for="message">Message</label>
              <div class="col-md-7">
                <textarea class="form-control" cols="40" id="message" name="message" rows="8"></textarea>
              </div>
            </div>
  
            <div class="form-group">
              <div class="col-md-5 col-md-offset-2">
                <button class="btn btn-primary " name="submit" type="submit">Submit</button>
              </div>
            </div>
  
            </form> 
            
          </div>