<div class="container">
    <div class="signin">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please Sign In</h2>
        <label for="email" class="sr-only">Email address</label>
        <input type="email" id="email" class="form-control" placeholder="Email address" required>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required>
        <a href="bloglist"><button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button></a>
      </form>
      </div>
    </div> <!-- /container -->