body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: skyblue;
}
.signin{
  background-color: #eeeeee; 
  border-radius: 5%;
  margin: 100px auto;
}

.form-signin {
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
@media(min-width: 400px){
  .signin{
    width: 250px;
    height: 200px;
  }

  .form-signin {
    max-width: 230px;
  }
  

}
@media(min-width: 400px){
  .signin{
    width: 350px;
    height: 300px;
  }
  
  .form-signin {
    max-width: 330px;
  }

}

.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .form-signin-heading{
  margin-bottom: 20px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
