_<footer class="blog-footer">
    <div class="row">
        <div class="col-md-4">
          <div class="find_me">
              Find Me On:<br>
              <%= link_to image_tag("fb.png"), '#' %></a>
              <%= link_to image_tag("twitter.png"), '#' %></a>
          </div>
        </div>
        <div class="col-md-8">
          <h4>created by PT. UKIRAMA</h4>
          <p>Rukan Daat Mogot Baru, Kedoya Utara, Jakarta Barat</p>
          <p>(021) 5590-000</p>
        </div>
      </div>
    
      
    </footer>